%h1
  Welcome to Bedside

%p 
  Dear #{@user.name}, 

%p 
  Hospital stays aren't fun, but we can make them better.

%p
  Bedside helps you keep friends and family updated, coordinate visitors and gifts, and make your loved one's stay a little less lonely. 

%p 
  %a{href: "#{root_url}"}
    Login to to get or provide updates on your loved ones.

%p
  We hope you find Bedside helpful!
