
#home-container
  .container-fluid.container-fluid-1
    .row-fluid.row-fluid-1
      %span.span2
        .dom-rect
      %span.span10
        .dom-rect
        %h1.heading.heading-1 BEDSIDE
        %p.p-1
          Work together to make their stay better.
          %br
  .container-fluid.container-fluid-2
    .row-fluid.row-fluid-2
      %span.span9.span9-1
        %h2.heading.heading-2 Hospital stays aren't fun, but we can make them better.
        %p.p-2
          %span
            Bedside helps you keep friends and family updated, coordinate visitors and gifts,
            and make your loved one's stay a little less lonely. 
          %br
      %span.span3.span3-1
        %a.get-started-button.btn.btn-primary.btn-large.btn-1{href:"/users/sign_up"}
          Get Started
          %br
        %p 
          Already using Bedside?
          %br
          %a.btn.btn-mini.btn-info.btn-2{href:"/users/sign_in"}
            Log in
  .container-fluid
    .row-fluid.row-fluid-3
      %span.span6
        %h2.heading.heading-3
          Set up a "vistor train."
          %br
        %p.p-3
          Bedside helps you coordinate a group of friends and family to make sure that there's
          never too long a stretch between visitors. 
        %p.p-3
          Just let Bedside know the visiting hours, invite visitors, and let them schedule
          themselves. 
      %span.span6
        =image_tag "ss-home-visitors.png", :class => 'screenshot'
  .container-fluid.container-fluid-3
    .row-fluid.row-fluid-3
      %span.span6
        %h2.heading.heading-4 Keep everyone updated.
        %p.p-4
          Helping someone through a hospital stay is hard work, and it can be difficult to
          keep everyone in the know. Bedside makes it easy to publish updates to everyone in
          the group.
        %p.p-5
          Bedside also gives people a spot to leave messages and love when they aren't able
          to visit.
      %span.span6
        =image_tag "ss-home-updates.png", :class => 'screenshot'
  .container-fluid
    .row-fluid.row-fluid-3
      %span.span6
        %h2.heading.heading-5
          Make it easer to help out.
          %br
        %p.p-6
          Bedside lets you create a simple wishlist so that people know what to bring when
          they come to visit. That way you can suggest favorite boredom breakers or special
          treats from home, and everyone can chip in to help make the stay a bit more comfortable.
      %span.span6
        =image_tag "ss-home-wishlist.png", :class => 'screenshot'
  .container-fluid.container-fluid-3
    .row-fluid.row-fluid-4
      %span.span6
        %h2.heading.heading-6
          Share tips for visitors.
          %br
        %p.p-7
          Every hospital has a few quirks to learn. Share tips for visitors about where to
          park, how to get to the room, or even good topics to chat about. 
      %span.span6
        =image_tag "ss-home-tips.png", :class => 'screenshot'
  .container-fluid.container-fluid-2
    .row-fluid.row-fluid-5
      %span.span8
        %h2.heading
          Bedside is 100% free. Start a page now and make your loved one's hospital stay more
          connected & comfortable.
          %br
      %span.span4.lower-cta
        %a.get-started-button.btn.btn-large{href:"/users/sign_up"}
          Get Started
        %p 
          Already using Bedside?
          %br
          %a.btn.btn-mini{href:"/users/sign_in"}
            Log in
  .container-fluid.container-fluid-4
    .row-fluid
      %span.span10.span10-2
        %a.dom-link{:href => "#"} @bedsideapp
      %span.span1.offset1
        .dom-rect