%button.btn.btn-mini.pull-right Edit this
%h4.heading.heading-1
  How's Susan doing?
  %br/
%p.p-2 Add some general info about Susan's condition.
%p.p-2 You'll be able to post updates below as the situation changes.