#patient-photo
  -if @page.avatar_url
    =filepicker_image_tag @page.avatar_url, w: 160, h: 160, fit: 'clip'
  #upload-form
    = simple_form_for @page do |f|
      =f.label :avatar_url, "Upload a photo of #{@page.patient_name}"
      =f.filepicker_field :avatar_url
      =f.submit