%button.btn.btn-mini.pull-right Edit this
%h4.heading.heading-1
  Visitor's Tips
  %br/
%p.p-2 Add some tips for visitors.
%p.p-2 (Suggestions: Parking hints, treats the nurses like, conversation topics, etc)