%i.icon.icon-calendar.pull-left.icon-1
%h4.heading.lower-heading
  Visitor Schedule
.inner-container
  -@schedule.each do |k,day|
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            =day[:date].strftime('%A, %b %e')
            =link_to 'Add yourself', "/pages/#{@page.id}/visits/new?day=#{k}", {:remote => true, :class => "btn btn-mini pull-right", :id => 'add_page_wish'}
      -if !day[:visits].blank?
        %tbody
          -day[:visits].each do |v|
            %tr
              %td
                #{v.start_hour} - #{v.user.name}
