%i.icon.icon-calendar.pull-left.icon-1
%button.btn.btn-mini.pull-right.btn-1 Edit Visiting Hours
%h4.heading.lower-heading
  Visitor Schedule
  %br/
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        Tuesday
        %button.btn.pull-right.btn-mini Add yourself
  %tbody
    %tr
      %td 9am - James doe
    %tr
      %td
        1pm - Jane Doe
        %br/
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        Wednesday
        %button.btn.pull-right.btn-mini Add yourself
  %tbody
    %tr
      %td No one's visiting yet
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        Thursday
        %button.btn.pull-right.btn-mini Add yourself
  %tbody
    %tr
      %td No one's visiting yet