%i.icon.icon-calendar.pull-left.icon-1
%button.btn.btn-mini.pull-right.btn-1 Edit Visiting Hours
%h4.heading.lower-heading
  Visitor Schedule
.inner-container
  -@schedule.each do |k,day|
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            =day[:date].strftime('%A, %b %e')
            %button.btn.pull-right.btn-mini Add yourself
      -if !day[:visits].blank?
        %tbody
          -day[:visits].each do |v|
            %tr
              %td
                #{v.start_time.strftime('%l %p')} - #{v.user.name}
