%i.icon.icon-gift.pull-left.icon-2
=link_to 'Add Item', "/pages/#{@page.id}/wishes/new", {:remote => true, :class => "btn btn-mini pull-right btn-1", :id => 'add_page_wish'} if @page.can_edit?(current_user)


%h4.heading.lower-heading
  Wishlist
.inner-container
  %table.table.table-striped.table-condensed
    %tbody
      -@page.wishes.each do |wish|
        %tr
          %td
            %label.checkbox
              %input{:type => "checkbox", :value => ""}/
              %span #{wish.title}
              - if @page.can_edit?(current_user)
                %span.pull-right
                  =link_to 'remove', "/pages/#{@page.id}/wishes/#{wish.id}", {:remote => true, :method => "delete", :class => "pull-right", :confirm => "Are you sure that you want to remove this wish?"}