%i.icon.icon-gift.pull-left.icon-2
=link_to 'Add Item', "/pages/#{@page.id}/wishes/new", {:remote => true, :class => "btn btn-mini pull-right btn-1", :id => 'add_page_wish'}


%h4.heading.lower-heading
  Wishlist
.inner-container
  %table.table.table-striped.table-condensed
    %tbody
      -@page.wishes.each do |wish|
        %tr
          %td
            %label.checkbox
              %input{:type => "checkbox", :value => ""}/
              %span #{wish.title}
