%i.icon.icon-gift.pull-left.icon-2
%button.btn.btn-mini.pull-right.btn-1
  Add Item
  %br/
%h4.heading.lower-heading
  Wishlist
  %br/
%table.table.table-striped.table-condensed
  %thead
  %tbody
    %tr
      %td.td-1
        %label.checkbox
          %input{:type => "checkbox", :value => ""}/
          %span Portable DVD Player
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :value => ""}/
          %span checkbox!
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :value => ""}/
          %span checkbox!