#page-container
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      %a.brand{:href => "#"}
        %b Bedside
      %ul.nav
        %li
          %a{:href => "#"} My Pages
        %li
          %a{:href => "#"} Settings
        %li
          %a{:href => "#"} Log out
  .container-fluid.page-title-bar
    .row-fluid
      %span.span12
        %h1.heading
          #{@page.patient_name.possessive} Bedside Page
          %button.btn.btn-primary.pull-right Invite People
  .container-fluid.main-info
    .row-fluid
      %span.span4
        #patient-photo
      %span.span4
        #location-partial-container.detials-partial-container
          =render "location"
        #tips-partial-container.detials-partial-container
          =render "tips"
      
      %span.span4
        #overview-partial-container.detials-partial-container
          =render "overview"
  .container-fluid.lower-container
    .row-fluid
      %span.span4
        #visits
          =render "visits"
        #wishlist
          =render "wishlist"
        
      %span.span8
        #posts      
          =render "posts"
        #comments
          =render "comments"
  #pageModal.modal.hide.fade