.full-image-bg
  #getting-started-form
    %center
      %h3.heading
        Unauthorized Access
        %br
      .dom-body-text
        %p.p-1 Sorry, your account does not have access to this Bedside page.

  %br/