// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  margin: 0px;
  padding: 0px;
  background-color: #efede8; 
  -webkit-font-smoothing: antialiased;
}

input, .btn{
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0; 
  

}

#main{
  max-width: 1050px;
  margin: 0 auto;
  background:#efede8;
  box-shadow: 0px 1px 2px 0px #000000;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}
#home-container {

  .container-fluid {
    .row-fluid {
      .span9, .span10 {
        .heading {
          &.heading-1 {
            margin: 70px 0px 10px 0px;
            text-shadow: 0px 1px 1px #000000;
            font-family: "oswald";
            font-weight: 900;
            font-size: 53pt;
            color: #ffffff; }
          &.heading-2 {
            font-size:28px;
            color: #ffffff; } }
        p {
          &.p-1 {
            margin: 13px 0px 0px 5px;
            text-shadow: #000000 0px 1px 2px;
            font-family: 'droid sans';
            font-size: 20pt;
            color: #ffffff;
            line-height: 1.6; }
          &.p-2 {
            font-family: 'droid sans';
            font-size: 14pt;
            color: #ffffff;
            line-height: 1.6; } }
        &.span10-1 {
          padding: 21px 0px 0px 0px; }
        &.span10-2 {
          padding: 18px 0px 0px 0px; } }
      .span3 {
        .btn {
          &.btn-1 {
            padding: 14px 24px 14px 24px;
            font-family: "verdana";
            border-top: 1px solid rgba(0, 0, 0, 0.149);
            border-right: 1px solid rgba(0, 0, 0, 0.149);
            border-left: 1px solid rgba(0, 0, 0, 0.149);
            margin-bottom:10px;
          }
          &.btn-2 {
            background: #ffffff;
            color:#666;
            background-image: -moz-linear-gradient(270deg, white 0%, #e6e6e6 100%);
            background-image: -webkit-linear-gradient(270deg, white 0%, #e6e6e6 100%);
            background-image: -o-linear-gradient(270deg, white 0%, #e6e6e6 100%);
            background-image: linear-gradient(180deg, white 0%, #e6e6e6 100%); } }
        &.span3-1 {
          padding: 40px 0px 0px 0px; } }
      .span6 {
        .heading.heading-3 {
          font-family: "oswald";
          font-weight: 400; }
        p.p-3 {
          font-family: 'droid sans';
          font-size: 12pt;
          line-height: 1.6; } }
      &.row-fluid-1 {
        padding: 0px 0px 80px 0px; }
      &.row-fluid-2 {
        padding: 0px 0px 34px 0px; }
      &.row-fluid-3 {
        padding: 16px 0px 16px 0px; } }
    &.container-fluid-1 {
      background: rgba(0, 0, 0, 0) url(bedside_header.png) repeat 0px 0px; 
      background-size:1280px;
    }
    &.lower-cta, &.upper-cta {
      background: #6392bf;
      color:#fff; 
      .span9-1{
        margin-top:16px;
      }
      .span3-1{
        text-align:center;
      }
    }
    &.container-fluid-3 {
      background: #ffffff; }
    &.container-fluid-4 {
      background: #363636; }
    .row-fluid.row-fluid-3 .span6 {
      .heading {
        &.heading-4, &.heading-5 {
          font-family: "oswald";
          font-weight: 400; } }
      p {
        &.p-4, &.p-5, &.p-6 {
          font-family: 'droid sans';
          font-size: 12pt;
          line-height: 1.6; } } }
    &.lower-cta .row-fluid.row-fluid-5 {
      padding: 0px 0px 34px 0px; }
    &.container-fluid-3 .row-fluid {
      .span6 {
        .heading.heading-6 {
          font-family: "oswald";
          font-weight: 400; }
        p.p-7 {
          font-family: 'droid sans';
          font-size: 12pt;
          line-height: 1.6; } }
      &.row-fluid-4 {
        padding: 16px 0px 16px 0px; } }
    .row-fluid {
      .span10 .dom-rect {
        background: white url(image-1.png) no-repeat 6px 10px;
        -moz-box-shadow: 0px 1px 2px 0px #000000;
        -webkit-box-shadow: 0px 1px 2px 0px #000000;
        -o-box-shadow: 0px 1px 2px 0px #000000;
        box-shadow: 0px 1px 2px 0px #000000;
        border-radius: 0px;
        margin: 60px 0px -124px -85px;
        border: none;
        width: 77px;
        height: 66px; }
      .span2 {
        .dom-rect {
          background: #80ccff;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          border-radius: 0px;
          margin: 0px;
          border: none;
          width: 0px;
          height: 0px; }
        p {
          margin: 10px 0px 1px;
          font-size: 9pt;
          text-align: center;
          color: #ffffff; } } }
    &.lower-cta .row-fluid {
      .span4 {
        padding: 59px 0px 0px 0px;
        text-align:center;
        .get-started-button {
          padding: 24px 48px 24px 48px;
          font-family: "verdana"; } }
      .span8 {
        padding: 21px 0px 0px 0px;
        .heading {
          color: #ffffff; } } }
    &.upper-cta .row-fluid {
      .span4 {
        padding: 59px 0px 0px 0px;
        text-align:center;
        .get-started-button {
          padding: 24px 48px 24px 48px;
          font-family: "verdana"; } }
      .span8 {
        padding: 21px 0px 0px 0px;
        .heading {
          color: #ffffff; } } }
    .row-fluid {
      .span1 .dom-rect {
        background: #787878 url(image-2.png) no-repeat 4px 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
        margin: 0px;
        border: none;
        width: 74px;
        height: 53px; }
      .span10 .dom-link {
        text-shadow: 0px 1px 2px #000000;
        color: #d1d1d1; } } }
  .screenshot{
    width:100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    padding: 4px;
    background-color:#fff;
  }
  .tanooki-suit{
    padding-top:20px;
    position:relative;
    .top-edge{
      background:image-url('bg_footer.png') 0 0 repeat-x #6392bf;
      height:10px;
      width:100%;
    }
    
    h2{
      font-size:18px;
      line-height:32px;

    }
    .well{
      a{
        color:#666;
        &:hover{
          text-decoration:none;
          b{
            text-decoration:underline;
          }
        }

      }
    }
  }
  
}
#invite-info{
  margin:0 auto;
  max-width:800px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  h3{
    line-height:30px;
    margin-bottom:30px;
  }
}

