#page-container{
  .detials-partial-container{
    textarea{
      width: 300px;
      height: 100px;
    }
  }
  #patient-photo {
    background: #828282;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
    border: none;
    width: 295px;
    height: 256px; 
  }
 .btn-1 {
    margin: 3px 2px 0px 0px; 
  }
  .heading-1 {
    margin: 0px 0px 6px 0px;
    line-height: 23px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #bfbfbf;
    border-left: none; 
  }
  .heading-2 {
    padding: 2px;
    margin: 0px 0px 6px 0px;
    background: #64b1ff;
    color: #ffffff;
    line-height: 23px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #bfbfbf;
    border-left: none; 
  } 
  .icon-1 {
    color: #ffffff;
    font-size: 24px;
    margin: 2px 6px 0px 2px;
    height: 24px;
    width: 24px; 
  }
  .icon-2 {
    color: #ffffff;
    font-size: 24px;
    margin: 0px 6px 0px 4px;
    height: 24px;
    width: 24px; 
  } 
  .td-1 {
    background: rgba(0, 0, 0, 0); 
  }
  .p-1 {
    margin: 0px;
    color: #636363;
    line-height: 18px; 
  }
  .info-text {
    color: #696969;
    line-height: 16px; 
  } 
  .btn-2 {
    margin: 3px 2px 0px 0px; 
  }
  .btn-3 {
    margin: -1px 2px 0px 0px; 
  } 
  .lower-heading {
    padding: 2px;
    margin: 0px 0px 6px 0px;
    background: #64b1ff;
    color: #ffffff;
    line-height: 23px;
  } 
  .icon-3 {
    color: #ffffff;
    font-size: 24px;
    margin: 1px 6px 0px 3px;
    height: 24px;
    width: 24px; 
  }
  .icon-4 {
    color: #ffffff;
    font-size: 24px;
    margin: 1px 6px 0px 4px;
    height: 24px;
    width: 24px; 
  }
  .page-title-bar {
    margin-top: 43px;
    background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 100%);
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 100%);
    background-image: -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 100%);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.5); 
  }
  .main-info {
    margin-top: 21px; 
  }
  .lower-container {
    margin-top: 42px; 
  }

  .navbar {
    height: 42px;
    .navbar-inner {
      border: 1px solid #d4d4d4; 
    } 
  }

  .container-fluid .row-fluid {
    .span12 .heading .btn {
      margin: 4px 0px 0px 0px;
      border-top: 1px solid rgba(0, 0, 0, 0.149);
      border-right: 1px solid rgba(0, 0, 0, 0.149);
      border-left: 1px solid rgba(0, 0, 0, 0.149); }
    .span8 {
      .textarea {
        background: #ffffff;
        color: #666666;
        font-family: "Helvetica Neue";
        font-weight: normal;
        font-size: 11pt;
        text-decoration: none;
        text-align: left;
        -moz-box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.098);
        -webkit-box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.098);
        -o-box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.098);
        box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.098);
        text-shadow: none;
        border-radius: 3px;
        border: 1px solid #cfcfcf;
        width: 600px;
        height: 38px; 
      }

      p {
        color: #696969;
        line-height: 16px; } } }
}